
<div class="harvey bg--grey-darker text--white">
  <div class="wp" id="flights"></div>

  <div class="harvey__img" style="background-image: url({{site.img}}/img.jpg);"></div>

  <div class="harvey__text">
    <h2 class="title title--xxl">Getting there</h2>
    <div class="container container--no-padding container--lg">
      <p class="text--lg text--normal vpad--xxs">Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <div class="space--sm"></div>
      <a id="track-flights-btn" href="" class="btn btn--orange">View flights</a>
    </div>
  </div>

</div>
