<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/img.jpg');">
  <div class="container container--xl">
    <div class="text--center">
      <h2 class="core-title core-title--xxl">Competition</h2>
      <div class="container container--no-padding container--lg">
        <p class="text--lg text--normal vpad--xxs">Competition Prize & teaser. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="space--sm"></div>
        <a id="track-btn-footer-competition" href="{{site.baseurl}}/competition" class="btn btn--orange">Enter Now</a>
      </div>
    </div>
  </div>
</div>