---
layout: default
id: overview
title: Overview
nav: true
nav-order: 1

banner:
  title: >
    Iceland is waiting to <br />WOW you

intro: >
  <p class="text--xl">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper.</p>
  <div class="space--sm"></div>
  <a href="#flights" class="btn btn--partner">View flights</a>

nav-sections:
  - id: natural
    title: Natural Wonders
  - id: golden
    title: The Golden Circle
  - id: reykjavik
    title: Reykjavik
  - id: other
    title: Other European destinations
  - id: flights
    title: Getting there

sections:

  - id: natural
    title: Natural Wonders
    description: >
      <p class="text--lg">Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum.</p>
      <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit!</p>

  - id: golden
    title: The Golden Circle
    description: >
      <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit!</p>
      <p class="text--lg">Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum.</p>

  - id: reykjavik
    title: Reykjavik
    description: >
      <p class="text--lg">Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum.</p>
      <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit!</p>

  - id: other
    title: Other European destinations
    description: >
      <p class="text--lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit!</p>
      <p class="text--lg">Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum.</p>



flights:
  title: Get to Europe with WOW Air
  content: >
    Nulla vitae elit libero, a pharetra augue. Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit.
  link:


---


<div class="">
  <div class="container container--xxxl vpad--xxl">
    <div class="row row--6-6 row--valign-center">
      <div class="col">
        {{page.intro}}
      </div>
      <div class="col">
        <div class="bg-img bg-img--zoom bg-img--rounded bg-img--16-9" style="background-image: url({{site.img}}/content/video.jpg);">
          <div class="bg-img__play"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- loops through section file for page content -->
{% for section in page.sections %}
  <div class="js-nav-section {% cycle 'bg--grey-lightest', 'bg--white' %}">
    <div class="wp" id="{{section.id}}"></div>
    <div class="container vpad--xxxxl">

      <div class="row row--valign-center row--gutters-lg row--6-6">
        <div class="col">
          <h2 class="title title--xxl text--bold">{{section.title}}</h2>
          <div class="space--sm"></div>
          {{section.description}}
        </div>
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{section.id}}/01.jpg');"></div>
        </div>
      </div>

      <div class="space--xxxl"></div>

      <div class="row row--constant-6-6 row--lg-4-4-4 row--xxxl-2-2-2-2-2 row--gutters-sm">
        {% assign highlights = site.data.highlights | where:"section",section.id %}
        {% for highlight in highlights %}
        <div class="col">
          <a id="tracking-poi-{{highlight.id}}" class="highlight js-open-modal bg--white" data-modal-group="section" data-modal-item="{{highlight.id}}">
            <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{section.id}}/highlights/{{highlight.id}}.jpg');"></div>
            <div class="boxpad--sm">
              <span class="title text--bold text--normal">{{highlight.title}}</span>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endfor %}



<div class="flights bg--partner-dark text--white">
  <div class="wp" id="flights"></div>

  <div class="flights__image">
    <img src="{{site.img}}/content/routemap.jpg" alt="">
  </div>

  <div class="container container--xxl text--center">
    <h2 class="title title--xxl text--bolder">{{page.flights.title}}</h2>
    <p class="text--xl text--normal vpad--xxs">{{page.flights.content}}</p>
    <div class="space--sm"></div>
    <a id="track-flights-btn" href="{{page.flights.link}}" class="btn btn--partner-invert">View flights</a>
    <div class="space--xxxl"></div>
  </div>

</div>