---
layout: default
id: overview
title: Overview
nav: true
nav-order: 1

banner:
  title: >
    Iceland is waiting to <br />WOW you

intro: >
  <p class="text--lg">Iceland packs an astonishing amount of natural beauty into its roughly 40,000 square miles. The remote part-Arctic, part-Atlantic isle at the meeting of Europe and America more than lives up to its appearances in myth, in Norse sagas, on a certain HBO fantasy series – its exquisite scenery truly borders on the fantastical. Fly WOW air to Reykjavik from 12 cities across the U.S., and discover all this for yourself. Become the hero of your own unwritten epic or saga as you become acquainted with the colorful capital city, then head into the country and experience the legendary landscape firsthand.</p>
  <div class="space--sm"></div>
  <a href="#flights" class="btn btn--partner">View flights</a>

nav-sections:
  - id: natural
    title: Natural Wonders
  - id: golden
    title: The Golden Circle
  - id: reykjavik
    title: Reykjavik
  - id: other
    title: Other European destinations
  - id: flights
    title: Getting there

sections:

  - id: natural
    title: Natural Wonders
    highlights-title: Experience the wonders
    description: >
      <p class="text--lg">Soaring mountains, jagged fjords, sparkling waterfalls, black-sand beaches – you'll find all this and so much more in the Land of Fire and Ice. There's a reason that artists, photographers and Hollywood location scouts flock like Arctic seabirds to this rugged island nation: It's a veritable treasure trove of natural wonders, from volcanoes to glaciers to lagoons. Lace up your hiking boots, and trek through verdant meadows and fertile valleys, or experience one of the most iconic road trips in Europe, past rocky cliffs and lava fields, in search of the Northern Lights. There's something for everyone in magical, mythical Iceland.</p>

  - id: golden
    title: The Golden Circle
    highlights-title: Get in the loop
    description: >
      <p class="text--lg">"The streets are paved in gold" is how some people describe a place where you can strike it rich – a place that will leave you wealthier than when you arrived. In Iceland, you'll find such a place in the 190-mile Golden Circle, from capital-city Reykjavik all the way into the southern uplands and back. "Wealth" doesn't even begin to cover to this iconic road-trip route's remarkable collection of natural attractions, from a national park to a geothermal field to a 100-ft. waterfall. See them over a period of weeks, days – even a couple of hours, if you're short on time.</p>

  - id: reykjavik
    title: Reykjavik
    highlights-title: Discover the city sights
    description: >
      <p class="text--lg">If you thought Iceland's natural attractions were exciting, just wait till you see its vibrant, cosmopolitan capital. World-class art, architecture, music and nightlife are just a taste of what you'll find in the world's northernmost capital city, home to the Hallgrimskirkja church, Harpa concert hall and Listasafn Reykjavíkur art museum. Explore the city center on foot, or if you'd prefer to rent a bike, pop by one of the many WOW bike stands dotted across town. There's plenty of nature to be found on the outskirts of the Reykjavik Peninsula, should you like to switch things up, from beaches to caves to rock formations.</p>

  - id: other
    title: Other European destinations
    highlights-title: Continue on your journey
    description: >
      <p class="text--lg">From its snow-capped peaks to its sandy beaches, from its historic landmarks to its modernist masterpieces, from its towering cathedrals to the charming half-timbered homes of Bavaria or row houses of Amsterdam, Europe will blow you away. Whether you plan to spend a lot of time in one European destination, or a little time in a lot of destinations, you'll quickly fall under the same spell that bewitched countless world travelers, writers, historians, foodies and filmmakers before you. Take advantage of WOW air's connections to capitals across the continent, making Iceland your complimentary WOW stopover, as you prepare to travel farther afield.</p>



flights:
  title: Get to Europe with WOW air
  content: >
    <p class="text--xl text--bold">The starting price to Iceland is <span class="text--xxxl">$99.99</span> one-way and is available from many US departure cities*</p>
  terms: >
    <p class="text--sm">*Flights from New York (JFK), Boston (BOS) and Pittsburgh (PIT) to Iceland (KEF). Based on lowest one-way WOW basic fare when booking round trip flights on www.wowair.us. Includes all taxes, fees and carrier charges. Available for travel September – October, 2018. The offer applies to 300 seats on selected flights during the travel period and is subject to availability. Restrictions and baggage fees apply. Lowest advertised fare is exclusive to MyWOW members.</p>
  link: "https://wowair.us/flights/our-destinations/reykjavik/?utm_source=secretescapes.com&utm_medium=blog&utm_campaign=secretescapes.com_14june2018"


---


<div class="">
  <div class="container container--xxxl vpad--xxl">
    <div class="row row--6-6 row--valign-center">
      <div class="col">
        {{page.intro}}
      </div>
      <div class="col">
        <a href="javascript:void(0);" data-modal-item="video" data-video-id="b_eCOuJflYY" class="js-open-modal bg-img bg-img--zoom bg-img--rounded bg-img--16-9" style="background-image: url({{site.img}}/content/video.jpg);">
          <div class="bg-img__play"></div>
        </a>
      </div>
    </div>
  </div>
</div>


<!-- loops through section file for page content -->
{% for section in page.sections %}
  <div class="js-nav-section {% cycle 'bg--grey-lightest', 'bg--white' %}">
    <div class="wp" id="{{section.id}}"></div>
    <div class="container vpad--xxxxl">

      <div class="row row--valign-center row--gutters-lg row--6-6">
        <div class="col">
          <h2 class="title title--xxl text--bold">{{section.title}}</h2>
          <div class="space--sm"></div>
          {{section.description}}
        </div>
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{section.id}}/01.jpg');"></div>
        </div>
      </div>

      <div class="space--xxxl"></div>

      <div class="text--center">
        <h2 class="title title--sm text--bold text--upper">{{section.highlights-title}}</h2>
        <div class="space--lg"></div>
      </div>

      <div class="row row--constant-6-6 row--lg-4-4-4 row--xxxl-2-2-2-2-2 row--gutters-sm">
        {% assign highlights = site.data.highlights | where:"section",section.id %}
        {% for highlight in highlights %}
        <div class="col">
          <a href="javascript:void(0);" id="tracking-poi-{{highlight.id}}" class="highlight js-open-modal bg--white" data-modal-group="section" data-modal-item="{{highlight.id}}">
            <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{section.id}}/highlights/{{highlight.id}}.jpg');"></div>
            <div class="boxpad--sm">
              <span class="title text--bold text--normal">{{highlight.title}}</span>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endfor %}



<div class="flights bg--partner-dark text--white">
  <div class="wp" id="flights"></div>

  <div class="flights__image">
    <img src="{{site.img}}/content/routemap.jpg" alt="">
  </div>

  <div class="container container--xxl text--center">
    <h2 class="title title--xxl text--bolder">{{page.flights.title}}</h2>
    <div class="space--sm"></div>
    {{page.flights.content}}
    <div class="space--md"></div>
    <a id="track-flights-btn" href="{{page.flights.link}}" target="_blank" class="btn btn--partner-invert">View flights</a>
    <div class="space--sm"></div>
    {{page.flights.terms}}
    <div class="space--xxxl"></div>
  </div>

</div>