{% if page.nav-sections %}
<div class="site-nav js-sticky-nav">
  <div class="site-nav__scroll-wrap">
    <div class="site-nav__wrap">

        <!-- loops through all sections within page -->
        {% for section in page.nav-sections %}<span class="site-nav__item">

          <a class="site-nav__link site-nav__link--{{section.id}}" href="#{{section.id}}">
            {% if section.nav-title %}
              {{section.nav-title}}
            {% else %}
              {{section.title}}
            {% endif %}
          </a>

        </span>{% endfor %}<span class="site-nav__item">
          <!-- Offer section -->
          <a class="site-nav__link site-nav__link--offers" href="#offers">Offers</a>
        </span>
    </div>
  </div>
</div>
{% endif %}
