// all banner types on site

.title {

  // custom content headline
  font-family: $font-title-01;
  line-height: 1.1;
  color: $grey-darker;
  &--xxxxl  { font-size: $s8; }
  &--xxxl   { font-size: $s8; }
  &--xxl    { font-size: $s7; }
  &--xl     { font-size: $s6; }
  &--lg     { font-size: $s5; }
  &--md     { font-size: $s4; }
  &--sm     { font-size: $s3; }
  &--xs     { font-size: $s2; }
  &--xxs    { font-size: $s1; }
  &--xxxs   { font-size: $s0; }
  @include bp($lg){
    &--xxxxl  { font-size: $s10; }
    &--xxxl   { font-size: $s9; }
    &--xxl    { font-size: $s8; }
    &--xl     { font-size: $s7; }
    &--lg     { font-size: $s6; }
    &--md     { font-size: $s5; }
    &--sm     { font-size: $s4; }
    &--xs     { font-size: $s3; }
    &--xxs    { font-size: $s2; }
    &--xxxs   { font-size: $s1; }
  }

  .text--white & { color: $white; }

}

.banner-title {
  font-size: $s8;
  font-family: $font-title-01;
  line-height: 1.1;
  font-weight: 900;
  text-shadow: 0px 3px 80px rgba($grey-darkest,0.7);
  @include bp($lg){
    font-size: $s9;
  }
  @include bp($xxl){
    font-size: $s11;
  }
}

