
{% assign modal-items = site.data.highlights | concat: site.data.modal.video %}

<div class="js-modal modal is-closed">
  <div class="js-close-modal modal__close"></div>

  <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
  <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="prev"></div>

  <div class="modal__container">

    {% for item in modal-items %}
      {% if item.pages %}
        {% for item-page in item.pages %}
          {% if item-page.id == page.id or item-page.id == 'all' %}

            <div
              class="modal__item modal__item--{{item.id}} is-closed"
              id="modal-{{item.id}}"
              {% if item.page %}data-group-page="{{item.page}}"{% endif %}
              {% if item.section %}data-group-section="{{item.section}}"{% endif %}>
              <div class="modal__content">
                {% if item.highlight %}
                  {% include modal/content/highlight.html %}
                {% elsif item.youtube-id %}
                  {% include modal/content/video.html %}
                {% else %}
                  {% include modal/content/text.html %}
                {% endif %}
              </div>
            </div>

          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

  </div>

</div>
